<!-- main screen container-->
<div id="noti-bar"></div>
<div id="top-nav">
  <div id="back-icon">
    <mat-icon>back</mat-icon>
  </div>
  <div class="flex-item">
    <h1>Choose a Meal</h1>
  </div>
  <div class="flex-item">
    <img id="logo" src="./assets/mp_logo_green.png">
  </div>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>
<div id="bottom-nav">
  <button class="bottom-btn" (click)="onNavClicked($event)">
    <mat-icon>today</mat-icon>
  </button>
  <button class="bottom-btn" (click)="onNavClicked($event)">
    <mat-icon>grid_on</mat-icon>
  </button>
  <button class="bottom-btn" (click)="onNavClicked($event)">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button class="bottom-btn" (click)="onNavClicked($event)">
    <mat-icon>list_alt</mat-icon>
  </button>
</div>